<div class="row">
   <div class="col-md-3"></div>
   <div class="col-md-6">
    <h2>회원가입</h2>
    
    <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.email_field :email, autofocus: true ,label: "이메일"%>
        <%= f.password_field :password, autocomplete: "off", label: "비밀번호"%>
        
        <!--<% if @minimum_password_length < 8 %>
        최소 <%= @minimum_password_length %>자 이상이여야 합니다.
        <% end %>-->
        
      <%= f.password_field :password_confirmation, autocomplete: "off", label: "비밀번호 확인"%>
      <%= f.text_field :name, label:"이름"%>
      <%= f.form_group :admin, label: { text: "사용" } do %>
        <%= f.radio_button :admin, 0, label: "일반", checked: true %>
        <%= f.radio_button :admin, 1, label: "사업자" %>
        <%= f.radio_button :admin, 2, label: "운영자" %>
      <% end %>
      <!--<%= f.text_field :address, label:"주소"%>
      <%= f.text_field :phone, label:"연락처", placeholder:"ex)01012345678"%>-->
      <div align="center">
         <%= f.submit "회원가입", class: "btn btn-danger" %>
      </div>
    <% end %>
    
    <%= render "devise/shared/links" %>
  </div>
</div>
