<!--메인 페이지 시작-->
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message" style="min-height:600px">
                    <img src="<%= image_url('dwlogo.png') %>">
                    <h2>DAEWANG COFFEE</h2>
                    <hr class="intro-divider">
                    <!--<h3>바람은 홀로 만들어지는 것이 아니다.</h3>-->    
                    <h3>We will be the world best green been corp.</h3>    
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
<!--ifnill소개 시작-->
    <div class="row featurette featurette-divider container">
        <div class="col-md-5 col-md-push-7 basic">
        <!--<img class="featurette-image img-responsive center-block" src="" alt="Generic placeholder image">-->
        </div>
        <div class="col-md-7 col-md-pull-5" id="aboutus">
            <a class="a_tag" href="#aboutus"><h1>About Us</h1></a>
            <h4>대왕커피는<br>
            전문 Q-grader( 생두감별사)와 국내대회에서 수 차례 인정받은 Roaster,<br> 각종 바리스타대회
            에서 우수한 성적을 거둔 바리스타가 <br>함께 관리하는 커피회사입니다.</h4>
            <h4>대왕커피는<br>
            는 생두수입부터 원두, 그리고 한잔의 커피가 완성될 때 <br>
            까지의 모든 과정을 각 파트의 책임자가 관리하고 연구합니다.</h4><br>
        </div>
    </div>
<!--ifnill소개 끝-->
<!--ifer소개 시작-->
    <hr class="featurette-divider container">
    <div class="row featurette container">
        <div class="col-md-7 col-md-push-5 basic">
          <img src="<%= image_url('dwlogo.png')%>" width="110" height="110">
          <a class="a_tag" href="#business"><h1>Business</h1></a>
          <h4>저희 대왕커피의 주력 사업은 커피 생두 수입 및 생두 유통입니다.<br>
            또한 거래처들의 고민에 대한 솔루션을 찾고<br>
            공생하는 관계를 유지하기 위해 커피전문점을 운영하고 있습니다.<br>
            스페셜티 커피시장의 저변확대를 위해 비영리 커피교육도 하고 있습니다.</h4><br>
        </div>
        <div class="col-md-5 col-md-pull-7">
        <!--<img class="featurette-image img-responsive center-block" src="" alt="Generic placeholder image">-->
        </div>
    </div>
<!--ifer소개 끝-->
<!--fuller소개 시작-->
    <hr class="featurette-divider container">
    <div class="row featurette featurette-divider container">
        <div class="col-md-5 col-md-push-7" id="fuller">
        <!--<img class="featurette-image img-responsive center-block" src="" alt="Generic placeholder image">-->
        </div>
        <div class="col-md-7 col-md-pull-5 basic">
          <a class="a_tag" href="#greenbeenbusiness"><h1>Green Been Business</h1></a>
          <h4>커피 생두는 농산물입니다. <br>
            대왕커피에서는 신선한 농산물 만을 유통하기 위해 <br>
            올해 수확한 신선한 햇 콩만을 고집합니다.<br>
            또한 직접 수입한 생두의 신선도를 유지하기 위해 통관이 끝나는 즉시 대왕커피에서 <br>
            자체 개발한 ‘질소치환 진공포장’을 이용하여 5kg, 10kg 단위로 포장하게 됩니다.</h4><br>
          <h4>통관이 끝난 생두는 창고에 입고되는 즉시 진공포장을 하게 됩니다.<br>
           또한 이렇게 포장된 생두는 온.습도가 일정하게 유지되는 창고에서 보관하게 됩니다. <br>
           출고 전에는 동일(日)에 포장한 생두 샘플을 가지고 관능평가를 거친 후<br>
           판매적합 판단이 되면 당일 출고 하게 됩니다. <br></h4><br>
        </div>
    </div>
    <hr class="featurette-divider container">
        <div class="row featurette container">
          <img src="<%= image_url('dwlogo.png')%>" width="110" height="110">
          <h1>연혁</h1><br><br>
          <!--Timeline start-->
          <div class="container">
            <div class="row">
                <div class="timeline-centered">
                    <article class="timeline-entry"> 
                        <div class="timeline-entry-inner">
                            <time class="timeline-time" datetime="2014-01-10T03:45"> <span>2014 03. 01</span></time>
                            <div class="timeline-icon bg-success">
                                <i class="entypo-feather"></i>
                            </div>
                            <div class="timeline-label">
                                <div class = "row">
                                    <div class="col-sm-6">
                                        <img src="<%= image_url('main7.JPG')%>" class="img-responsive img-rounded full-width">
                                    </div>
                                    <div class="col-sm-6">
                                        <h2><a href="#">대왕커피 회사 설립</a></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="timeline-entry left-aligned"> 
                        <div class="timeline-entry-inner">
                            <time class="timeline-time" datetime="2014-01-10T03:45"><span>2014. 05. 10</span></time>
                            <div class="timeline-icon bg-secondary">
                                <i class="entypo-suitcase"></i>
                            </div>
                            <div class="timeline-label">
                                <div class = "row">
                                    <div class="col-sm-6">
                                        <img src="<%= image_url('main7.JPG')%>" class="img-responsive img-rounded full-width">
                                    </div>
                                    <div class="col-sm-6">
                                        <h2><a href="#">대왕커피 동성로 매장 오픈</a></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="timeline-entry">
                        <div class="timeline-entry-inner">
                            <time class="timeline-time" datetime="2014-01-10T03:45"><span>2014. 06</span> <span></span></time>
                            <div class="timeline-icon bg-info">
                                <i class="entypo-location"></i>
                            </div>
                            <div class="timeline-label">
                                <h2>
                                    <a href="#">대왕커피 에티오피아 생두 수입</a>
                                    <img src="<%= image_url('main7.JPG')%>" class="img-responsive img-rounded full-width">
                                </h2>
                            </div>
                        </div>
                    </article>
                    <article class="timeline-entry left-aligned"> 
                        <div class="timeline-entry-inner">
                            <time class="timeline-time" datetime="2014-01-10T03:45"><span>2014. 08</span> <span></span></time>
                            <div class="timeline-icon bg-success">
                                <i class="entypo-feather"></i>
                            </div>
                            <div class="timeline-label">
                                <h2><a href="#">대왕커피 제조공장 설립</a></h2>
                                <img src="<%= image_url('main7.JPG')%>" class="img-responsive img-rounded full-width">
                            </div>
                        </div>
                    </article>
                    <article class="timeline-entry"> 
                        <div class="timeline-entry-inner">
                            <time class="timeline-time" datetime="2014-01-10T03:45"><span>2015. 02</span> <span></span></time>
                            <div class="timeline-icon bg-secondary">
                                <i class="entypo-suitcase"></i>
                            </div>
                            <div class="timeline-label">
                                <h2><a href="#">에티오피아 생두 수입 & $2,000 기부</a></h2>
                                <img src="<%= image_url('main7.JPG')%>" class="img-responsive img-rounded full-width">
                            </div>
                        </div>
                    </article>
                    <article class="timeline-entry left-aligned">
                        <div class="timeline-entry-inner">
                            <time class="timeline-time" datetime="2014-01-10T03:45"><span>2015. 05</span> <span></span></time>
                            <div class="timeline-icon bg-info">
                                <i class="entypo-location"></i>
                            </div>
                            <div class="timeline-label">
                                <h2>
                                    <a href="#">액상커피 제조시설 증설</a>
                                </h2>
                                <img src="<%= image_url('main7.JPG')%>" class="img-responsive img-rounded full-width">
                            </div>
                        </div>
                    </article>
                    <article class="timeline-entry"> 
                        <div class="timeline-entry-inner">
                            <time class="timeline-time" datetime="2014-01-10T03:45"><span>2015. 06</span> <span></span></time>
                            <div class="timeline-icon bg-success">
                                <i class="entypo-feather"></i>
                            </div>
                            <div class="timeline-label">
                                <h2><a href="#">과테말라 생두 수입</a></h2>
                                <img src="<%= image_url('main7.JPG')%>" class="img-responsive img-rounded full-width">
                            </div>
                        </div>
                    </article>
                    <article class="timeline-entry left-aligned"> 
                        <div class="timeline-entry-inner">
                            <time class="timeline-time" datetime="2014-01-10T03:45"><span>2015. 08</span> <span></span></time>
                            <div class="timeline-icon bg-secondary">
                                <i class="entypo-suitcase"></i>
                            </div>
                            <div class="timeline-label">
                                <h2><a href="#"> 대왕커피 생두창고 증설 및 본사 설립</a></h2>
                                <img src="<%= image_url('main7.JPG')%>" class="img-responsive img-rounded full-width">
                            </div>
                        </div>
                    </article>
                    <article class="timeline-entry ">
                        <div class="timeline-entry-inner">
                            <time class="timeline-time" datetime="2014-01-10T03:45"><span>2015. 09</span> <span></span></time>
                            <div class="timeline-icon bg-info">
                                <i class="entypo-location"></i>
                            </div>
                            <div class="timeline-label">
                                <h2>
                                    <a href="#"> 콜롬비아 생두 수입</a>
                                </h2>
                                <img src="<%= image_url('main7.JPG')%>" class="img-responsive img-rounded full-width">
                            </div>
                        </div>
                    </article>
                    <article class="timeline-entry left-aligned"> 
                        <div class="timeline-entry-inner">
                            <time class="timeline-time" datetime="2014-01-10T03:45"><span>2015. 09</span> <span></span></time>
                            <div class="timeline-icon bg-success">
                                <i class="entypo-feather"></i>
                            </div>
                            <div class="timeline-label">
                                <h2><a href="#">대왕커피 수성구 매장 오픈</a></h2>
                                <img src="<%= image_url('main7.JPG')%>" class="img-responsive img-rounded full-width">
                            </div>
                        </div>
                    </article>
                </div>
            </div>
          </div>
    </div>
    <hr class="featurette-divider container">
    <div class="row featurette featurette-divider container">
        <div class="col-md-5 col-md-push-7" id="fuller">
        <!--<img class="featurette-image img-responsive center-block" src="" alt="Generic placeholder image">-->
        </div>
        <img src="<%= image_url('profile.jpg')%>" class="img-responsive img-rounded full-width">
    </div>
</div>